<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Canciones </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Canciones</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Tus Canciones</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list *ngFor="let cancion of canciones">
        <ion-item>
          <ion-thumbnail slot="start">
            <img
              *ngIf="cancion.img !=='' else imagenPorDefecto"
              alt="{{cancion.titulo}}"
              [src]="cancion.img"
            />
            <ng-template #imagenPorDefecto>
              <img
                src="../../assets/icon/NotFound.jpg"
                alt="Imagen por defecto"
              />
            </ng-template>
          </ion-thumbnail>
          <ion-label>{{cancion.titulo}}</ion-label>
          <ion-button [routerLink]="['/cancion/',cancion.id]" fill="outline">
            <ion-icon slot="start" name="musical-notes-outline"></ion-icon>
            Acordes
          </ion-button>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
    <ion-content class="ion-padding">
      <ion-button id="open-modal" expand="block">
        <ion-icon ng slot="start" name="add-circle-outline"></ion-icon>
        Agregar nueva cancion
      </ion-button>

      <ion-modal trigger="open-modal">
        <ng-template>
          <ion-header>
            <ion-toolbar>
              <ion-buttons slot="start">
                <ion-button (click)="cancel()">Cancelar</ion-button>
              </ion-buttons>
              <ion-title>Nueva cancion</ion-title>
              <ion-buttons slot="end">
                <ion-button
                  (click)="confirm()"
                  [strong]="true"
                  >Enviar</ion-button
                >
              </ion-buttons>
            </ion-toolbar>
          </ion-header>
          <ion-content class="ion-padding">
            <ion-item>
              <ion-label position="stacked">Titulo de la cancion</ion-label>
              <ion-input
                type="text"
                placeholder="Ingresa el titulo aquí"
                required
              ></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="stacked">Artista</ion-label>
              <ion-input
                type="text"
                placeholder="Autor de la cancion"
              ></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="stacked">Album</ion-label>
              <ion-input
                type="text"
                placeholder="Album de la cancion"
              ></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="stacked">Tapa del album</ion-label>
              <ion-input
                type="image"
                placeholder="Tapa del album"
              ></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="stacked">Acordes</ion-label>
              <ion-input
                type="text"
                placeholder="Acordes de la cancion"
              ></ion-input>
            </ion-item>
          </ion-content>
        </ng-template>
      </ion-modal>
</ion-content>
