<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Canciones </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Canciones</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Tus Canciones</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list *ngFor="let cancion of canciones">
        <ion-item>
          <ion-thumbnail slot="start">
            <img
              *ngIf="cancion.img !=='' else imagenPorDefecto"
              alt="{{cancion.titulo}}"
              [src]="cancion.img"
            />
            <ng-template #imagenPorDefecto>
              <img
                src="../../assets/icon/NotFound.jpg"
                alt="Imagen por defecto"
              />
            </ng-template>
          </ion-thumbnail>
          <ion-label>{{cancion.titulo}}</ion-label>
          <ion-button [routerLink]="['/cancion/',cancion.id]" fill="outline">
            <ion-icon slot="start" name="musical-notes-outline"></ion-icon>
            Acordes
          </ion-button>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
  <div class="centrar">
    <ion-button fill="outline">
      <ion-icon slot="start" name="add-circle-outline"></ion-icon>Agregar nueva
      cancion</ion-button
    >
  </div>
</ion-content>
