<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> CifraGuitar </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large"> CifraGuitar </ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-searchbar
    show-clear-button="focus"
    color="light"
    animated="true"
    placeholder="Busca tu cancion"
    [debounce]="10"
    (ionInput)="handleInput($event)"
  ></ion-searchbar>

  <ion-list *ngIf="cancioneroService.results.length > 0">
    <ion-item *ngFor="let result of cancioneroService.results">
      <ion-label [routerLink]="['/cancion/',result.id]"
        >{{ result.titulo }}</ion-label
      >
    </ion-item>
  </ion-list>

  <div *ngIf="cancioneroService.results.length < 1">
    <p class="agrega">
      Parece que no tienes ninguna cancion, prueba agregando una en la <span [routerLink]="['/tabs/tab2']">pestaña
        de canciones</span>
    </p>
  </div>
</ion-content>
