ion-title{
  text-align: center;
}

#ficha {
  display: flex;
  flex-direction: column;
  background-color: rgba(128, 128, 128, 0.527);
  border-radius: 15px;
  margin: 10px 15px;
  height: fit-content;

  .imagen {
    width: 100%;
    text-align: center;
    align-items: center;
    margin-top: 10px;
    img {
      width: 240px;
      height: 240px;
    }
  }
  .datoscancion {
    display: flex;
    justify-content: space-around;
    .datasos {
      margin: 20px 0;
      display: flex;
      flex-direction: column;
      gap: 1px;
      justify-content: center;
      .contenedor {
        display: flex;
        align-items: center;
        gap: 7px;
      }
    }

    p {
      margin: 5px;
    }
  }
}



pre{
  display: block;
  white-space: pre-wrap;
  margin: 0 1em ;
  text-align:start;
  background-color: rgba(128, 128, 128, 0.527);
  border-radius: 5px;
  padding: 7px;
  line-height: 2em;
}

.centrar ion-button{
  margin-top: 10px;
}

ion-back-button{
  margin: 0px 10px;
}


