ion-toolbar{
    display: flex;
}

ion-title{
flex-wrap: wrap;
}

#ficha{
    display: flex;
    flex-direction: column;
    background-color: #2b343b;
    border-radius: 15px;
    margin: 10px 15px;
    height: fit-content;

    .imagen{
        width: 100%;
        text-align: center;
        align-items: center;
        margin-top: 10px;
        img{
          width: 240px;
          height: 240px;
        }
    }
    .datoscancion{
        display: flex;
        justify-content: space-around;
         .datasos{
            margin: 20px 0;
            display: flex;
            flex-direction: column;
            gap: 1px;
            justify-content: center;
            .contenedor{
                display: flex;
                align-items: center;
                gap: 7px;
            }
        }

        p{
            margin: 5px
        }

    }
}

.corazon{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


[id="heart"] {
    position: absolute;
    left: -100vw;

  }
  
  [for="heart"] {
    color: #aab8c2;
    cursor: pointer;
    font-size: 3em;
    align-self: center;  
    transition: color 0.2s ease-in-out;
  }
  
  [for="heart"]:hover {
    color: grey;
  }
  
  [for="heart"]::selection {
    color: none;
    background: transparent;
  }
  
  [for="heart"]::moz-selection {
    color: none;
    background: transparent;
  }
  
  [id="heart"]:checked + label {
    color: #e2264d;
    will-change: font-size;
  }
  
  
  
  @keyframes heart {0%, 17.5% {font-size: 0;}}